@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
}
header{
    background: rgb(35, 35, 35);
    color: white;
    text-align: center;
    padding: 10px;
}
nav{
    background: white;
    padding: 10px;
    text-align: center;
}
nav a{
    color: black;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    transition: 0.3s;
}
nav a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(61, 57, 57);

}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.product{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
button{
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    background: #0056b3;
}

img{
    background-image: url('picture/onlline\ stor.png');
    height: 500px;
    width: 100%;
    /* width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; */
}

footer{
    text-align: center;
    margin: 0;
    padding: 1rem;
    background: #333;
    color: white;
}



